@model CountItMVC.Application.ViewModels.NewItemVm

@{
    ViewData["Title"] = "AddItem";
}

<h1>AddItem</h1>

<h4>NewItemVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KcalPerHundredGrams" class="control-label"></label>
                <input asp-for="KcalPerHundredGrams" class="form-control" />
                <span asp-validation-for="KcalPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatPerHundredGrams" class="control-label"></label>
                <input asp-for="FatPerHundredGrams" class="form-control" />
                <span asp-validation-for="FatPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProteinPerHundredGrams" class="control-label"></label>
                <input asp-for="ProteinPerHundredGrams" class="form-control" />
                <span asp-validation-for="ProteinPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarbPerHundredGrams" class="control-label"></label>
                <input asp-for="CarbPerHundredGrams" class="form-control" />
                <span asp-validation-for="CarbPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CategoryId" id="txt" />
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CategoryId
           , ViewBag.categories as SelectList, "Select Category"
           ,new { @onChange = "selectedtext(this)", @class = "form-control" })
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ViewAllItems">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
        <script>
            function selectedtext(ddlitem) {
                var selvalue = ddlitem.value;
                var seltext =  ddlitem.options[ddlitem.selectedIndex].innerHTML;
                $('#txt').val(selvalue);
            }
        </script>
        
        }
}
