@model CountItMVC.Application.ViewModels.NewItemVm

@{
    ViewData["Title"] = "EditItem";
}

<h1>EditItem</h1>

<h4>NewItemVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KcalPerHundredGrams" class="control-label"></label>
                <input asp-for="KcalPerHundredGrams" class="form-control" />
                <span asp-validation-for="KcalPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatPerHundredGrams" class="control-label"></label>
                <input asp-for="FatPerHundredGrams" class="form-control" />
                <span asp-validation-for="FatPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProteinPerHundredGrams" class="control-label"></label>
                <input asp-for="ProteinPerHundredGrams" class="form-control" />
                <span asp-validation-for="ProteinPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarbPerHundredGrams" class="control-label"></label>
                <input asp-for="CarbPerHundredGrams" class="form-control" />
                <span asp-validation-for="CarbPerHundredGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
