@model CountItMVC.Application.ViewModels.ItemViews.AddItemToMealVm

@{
    ViewData["Title"] = "AddItemToMeal";
}

<h1>AddItemToMeal</h1>

<h4>AddItemToMealVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItemToMeal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HowManyGramsCurrentProduct" class="control-label"></label>
                <input asp-for="HowManyGramsCurrentProduct" class="form-control" />
                <span asp-validation-for="HowManyGramsCurrentProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ItemId" id="txt" />
                <label asp-for="ItemId" class="control-label"></label>
                @*<input asp-for="ItemId" class="form-control" />*@
                @Html.DropDownListFor(m => m.ItemId
           , ViewBag.items as SelectList, "Select Item"
           , new { @onChange = "selectedtext(this)", @class = "form-control" })

                @*<span asp-validation-for="ItemId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MealId" id="txt2" />
                <label asp-for="MealId" class="control-label"></label>
                @*<input asp-for="MealId" class="form-control" />*@
                @Html.DropDownListFor(m => m.MealId
, ViewBag.meals as SelectList, "Select Meal"
, new { @onChange = "selectedtext2(this)", @class = "form-control" })


                @*<span asp-validation-for="MealId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            function selectedtext(ddlitem) {
                var selvalue = ddlitem.value;
                var seltext = ddlitem.options[ddlitem.selectedIndex].innerHTML;
                $('#txt').val(selvalue);
            }
        </script>

        <script>
            function selectedtext2(ddlitem) {
                var selvalue = ddlitem.value;
                var seltext = ddlitem.options[ddlitem.selectedIndex].innerHTML;
                $('#txt2').val(selvalue);
            }
        </script>
    }
}
